.Top{

}
.Top img{
    margin: -5rem auto -5rem;
    height: 40rem;
}
.Top .title{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}
.Top .subtitle{
    text-align: center;
    margin-top: 2rem;
}

.Nav{
    position: absolute;
    top: 5rem;
    width: 100%;
}

.Nav img{
    width: 2rem;
    height: 2rem;
}
.Nav a{
    font-size: 1.6rem;
    padding: 0 1.5rem;
}
