.App {

}
.bg_fixed{
    background-image: url('./media/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    left: 0;
    position: fixed;
    top:0;
    width: 100vw;
    opacity: .5;
}
section{
    min-height: 100vh;
    display: grid;
    align-content: center;
    padding: 15rem 0;
}
section.black{
    background: rgba(0,0,0,.8);
    color: #fff;
}
section.white{
    background: rgba(240,240,240,.8);
    color: #000;
}
.title{
    font-size: 4rem;
    font-weight: bold;
    width: 80rem;
    margin: auto;
}
.subtitle{
    font-size: 2rem;
    font-weight: bold;
    margin: 5rem auto 4rem;
    width: 80rem;
    text-align: left;
    line-height: 1.6;

}
p{
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 1rem 0;
    text-align: left;
    width: 80rem;
    margin: 1rem auto;
}
.p_intro{
    margin: 4rem auto;
    font-size: 1.8rem;
}
.btn{
    background:#678964;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    font-weight: bold;
}
